body{
  width: 90%;
}
.portifolio{
  text-align: center;
  margin: 0 auto;
  width: 90%;    
  background-color: rgb(246, 244, 244);
  padding: 4%;
  border-radius: 10px;
}
.title,.main{
  text-align: center;
  width: 95%;
  margin: 0 auto;

}
nav{
  display: flex;
  justify-content: space-between;
}
.navbar-brand{
  width: 50%;
  font-size: 2rem;
  font-weight: bold;
}
span{
  color: rgb(223, 1, 219);

}
.navbar-nav{
  width: 40%;
  font-size: 01.2rem;
  font-family: 'Times New Roman', Times, serif;
}
ul{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
li{
  list-style: none;
  margin: 0 0  0 1rem;
}
a{
  text-decoration: none;
}

/* main */
.main{
  margin-top: 20px;
}
.profpict{
  border-radius: 50px;
}
.info{
  text-align: center;
  margin:  0 auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}


.info span{
  width: 100%;    
  float: left;
  display: block;
  text-align: center;
}
div .cursortxt{
  text-align: left;
  margin-left: 20px;
  background-color: #e9d3ff;
  width: 56%;
  color: #b46dfc;
}
div .cursor1txt{
  width: 100%;
  text-align: center;
  margin-right: 20px;
  background-color: rgb(247, 212, 239);
}
div .cusror1{
  width: 100%;
  text-align: right;

  margin: 20px auto;
  transform: rotate(10deg);
}
div .cusror2{
  width: 100%;
  text-align: left;
  
}
.target{
  margin: 5% 0;
}
p{
  width: 30rem;
  text-align: center;
  margin: 10px auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}
.info h1{
  width: 260px;
  height: 40px;
  margin-left: 10px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}
.actions{
  margin-top: 0;
}
button{
  font-size: 20px;
  background-color: #b46dfc;
  border-radius: 5px;
  padding: 5px;
  border: 0px solid #b46dfc;
}
button:hover{

  background-color: blueviolet;
}
